<div class="container center">
  <pb-breadcrumbs></pb-breadcrumbs>
  <div class="page-area">
    <pb-article class="text-box">
      <h1>Stay on track</h1>
      <slot
        >Do you know where you are spending your money? If you really stop to
        track it down, you would get surprised! Proper budget management depends
        on real data... and this app will help you with that!</slot
      >
    </pb-article>

    <pb-article class="text-box">
      <h1>Alerts</h1>
      <slot
        >What if your clothing budget ended? You will get an alert. The goal is
        to never go over the budget.</slot
      >
    </pb-article>

    <pb-article class="text-box"
      ><!-- This is a Semantic HTML Change -->
      <h1>Results</h1>
      <slot>
        People who stick to a financial plan, budgeting every expense, get out
        of debt faster! Also, they to live happier lives... since they expend
        without guilt or fear... because they know it is all good and accounted
        for.
      </slot>
    </pb-article>

    <pb-article class="text-box"
      ><!-- This is a Semantic HTML Change -->
      <h1>Free</h1>
      <slot>
        This app is free!!! And you are the only one holding your data!
      </slot>
    </pb-article>

    <pb-article class="text-box"
      ><!-- This is a Semantic HTML Change -->
      <h1>Stay on track</h1>
      <slot>
        Do you know where you are spending your money? If you really stop to
        track it down, you would get surprised! Proper budget management depends
        on real data... and this app will help you with that!
      </slot>
    </pb-article>

    <pb-article class="text-box">
      <!--This is a Semantic HTML Change-->
      <h1>Alerts</h1>
      <slot>
        What if your clothing budget ended? You will get an alert. The goal is
        to never go over the budget.
      </slot>
    </pb-article>

    <!-- <article class="text-box">This is a Semantic HTML Change
          <h1>Results</h1>
          <p>
              People who stick to a financial plan, budgeting every expense, get out of debt faster!
              Also, they to live happier lives... since they expend without guilt or fear...
              because they know it is all good and accounted for.
          </p>
      </article> -->

    <article class="chartJS_chart .center">
      <!-- This is a Semantic HTML Change -->
      <h1>CHART</h1>
      <p>
        <canvas id="myChart" width="200" height="200"></canvas>
      </p>
      <br />
    </article>

    <!-- <article class="">
          <h1>D3JS Chart</h1>
          <br>
          <div id="chart" class = "dchart"></div>
      </article> -->

    <div class="container">
      <div class="row">
        <h1>Want to add a new expense? Click here</h1>
        <button (click)="navigateToAddBudget()">Add New Expense</button>
      </div>
    </div>
  </div>
</div>
